#app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body {
  font-family: var(--font-primary);
  background: var(--color-off-white);
  color: var(--color-text-primary);
  line-height: var(--line-height-normal);
  margin: 0;
  padding: 0;
}

