<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <link rel="stylesheet" href="/static/css/login.css" />
    <title>Login - Calnio</title>
    <script type="text/javascript" src="//script.crazyegg.com/pages/scripts/0130/7009.js" async="async" ></script>
    <script
      defer
      src="https://analytics.calnio.com/script.js"
      data-website-id="4c81d3ea-9951-4d28-b426-129f058ec90e"
    ></script>
  </head>
  <body>
    <div class="login-container">
      <div class="login-card">
        <div class="login-header">
          <h1>Back to your productive life</h1>
          <p>Choose one of the options to go</p>
        </div>

        <div class="login-form">
          {% if error %}
          <div class="login-error">
            {{ error }}
          </div>
          {% endif %}
          <form class="form-container" action="/login" method="post">
            <div class="input-group">
              <input
                type="text"
                name="login"
                placeholder="bob@calnio.com"
                required
              />
            </div>
            <div class="input-group">
              <input
                type="password"
                name="password"
                placeholder="********"
                required
              />
            </div>
            <div class="divider-section">
              <div class="divider-line"></div>
              <span class="divider-text">Or continue with</span>
              <div class="divider-line"></div>
            </div>
            <div class="social-login">
              <button
                type="button"
                class="social-btn"
                aria-label="Continue with Google"
              >
                <img src="/assets/google_logo.png" alt="Google" />
              </button>
              <button
                type="button"
                class="social-btn"
                aria-label="Continue with Apple"
              >
                <img src="/assets/apple_logo.png" alt="Apple" />
              </button>
              <button
                type="button"
                class="social-btn"
                aria-label="Continue with GitHub"
              >
                <img src="/assets/github_logo.png" alt="GitHub" />
              </button>
            </div>
            <button type="submit" class="signin-btn">Sign In</button>
          </form>

          <a href="/signup">Don't have an account? <b>Sign Up Now</b></a>
        </div>
      </div>
    </div>
  </body>
</html>
